@charset "UTF-8";
html {
  font-size: 62.5%;
  /* nastavíme font na 10px */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  height: 75vh;
  position: relative;
  max-width: 100%;
}

header nav {
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style: none;
  padding-right: 3rem;
  cursor: pointer;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav .nav__logo {
  width: 8rem;
}

header nav .nav__user {
  width: 2rem;
  margin-right: 5rem;
}

header nav .header__search i {
  padding: 0 1rem;
  cursor: pointer;
}

header nav .header__search input {
  width: 20rem;
  border-radius: .2rem;
  padding: .5rem;
  display: none;
}

header nav .header__search .input__display {
  display: inline-block;
}

header .header__container {
  max-width: 100%;
  height: 75vh;
  overflow: hidden;
}

header .header__container .header__movie--img img {
  width: 100%;
}

header .header__container .header__gradient {
  position: absolute;
  height: 80vh;
  width: 100%;
  top: 20;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 48%, rgba(0, 0, 0, 0.7) 100%);
}

header .header__container .header__text--left {
  position: absolute;
  bottom: 12rem;
  left: 5vw;
}

header .header__container .header__text--left .header__text--title {
  font-size: 4.2rem;
  text-shadow: 3px 0px 5px #969696;
}

header .header__container .button {
  padding: 1rem 3rem;
  margin-right: 1rem;
  border-radius: .5rem;
  font-size: 120%;
  font-weight: 700;
  border: none;
  -webkit-box-shadow: 5px 3px 5px rgba(49, 49, 49, 0.7);
          box-shadow: 5px 3px 5px rgba(49, 49, 49, 0.7);
  -webkit-transition: .1s;
  transition: .1s;
}

header .header__container .button:active {
  -webkit-box-shadow: 1px 3px 5px rgba(49, 49, 49, 0.7);
          box-shadow: 1px 3px 5px rgba(49, 49, 49, 0.7);
  -webkit-transform: translate(0.2rem, 0.2rem);
          transform: translate(0.2rem, 0.2rem);
}

header .header__container .button .fas {
  padding-right: 1rem;
}

header .header__container .button__info {
  background-color: #bbbbbb;
}

header .header__container .header__text--right {
  width: 10rem;
  position: absolute;
  bottom: 12rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5rem;
}

header .header__container .header__text--right .header__volume {
  font-size: 2rem;
  padding: 1rem;
  margin-right: 2rem;
  border: .1rem solid white;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

header .header__container .header__text--right .header__age {
  border-left: .1rem solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem 0 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1250px) {
  header,
  .header__container {
    height: 50vh;
  }
}

main {
  margin-top: -10rem;
}

main h2 {
  font-size: 100%;
  padding-left: 8rem;
}

.carousel__container {
  position: relative;
  margin-top: 5rem;
  max-width: 100%;
  overflow: hidden;
}

.carousel__container .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__container .carousel__poster__now {
  width: 20rem;
}

.carousel__container .carousel__poster__now img {
  max-width: 100%;
}

.carousel__container .carousel__button {
  position: absolute;
  height: 19.5rem;
  margin: 0;
  padding: 0 2rem;
  border: none;
  color: white;
  background-color: rgba(34, 31, 31, 0.116);
  overflow: hidden;
}

.carousel__container .carousel__button .fas {
  font-size: 3rem;
}

.carousel__container .carousel__button__posters {
  height: 25rem;
}

.carousel__container .carousel__button--left {
  top: 14%;
  left: 0;
}

.carousel__container .carousel__button--right {
  top: 15%;
  right: 0;
}

footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15rem 5rem 8rem;
}

footer hr {
  height: 1rem;
  background-color: #2f2f2f;
  border-color: #2f2f2f;
  margin: 8rem 0;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer a:checked,
footer a:visited {
  color: white;
}

footer .social__networks {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social__networks li {
  padding: 2rem 5rem 0 0;
}

footer .social__networks .fab {
  color: white;
  font-size: 3rem;
}

footer .other__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5rem;
}

footer .other__links ul {
  padding-right: 10rem;
}

footer .other__links li {
  padding: 1rem 0 1rem 0;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer form .form__input {
  margin-bottom: 1rem;
  width: 30rem;
}

footer form .form__button {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 120%;
  background-color: #ec0808;
  color: white;
  text-transform: uppercase;
}

footer form .form__button:hover {
  background-color: #424242;
}

footer .netflix__cesko {
  margin: 0 0 5rem 10rem;
}

.template__nav__user {
  width: 25rem;
  background-color: black;
  position: fixed;
  top: 7rem;
  right: 6rem;
  border: .2rem solid white;
  border-radius: .2rem;
}

.template__nav__user .square__one {
  width: 3rem;
  height: 3rem;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -1.5rem;
  left: 20rem;
}

.template__nav__user .square__two {
  width: 10rem;
  height: 3rem;
  background-color: black;
  position: absolute;
  top: 0;
  left: 14rem;
}

.template__nav__user ul {
  list-style: none;
  padding: 2rem;
  margin: 0;
}

.template__nav__user ul hr {
  width: 15rem;
  margin-right: auto;
  margin-left: 0;
}

.template__nav__user ul a {
  text-decoration: none;
  color: white;
  line-height: 2;
}

.template__nav__user ul a .bold {
  font-weight: 700;
}
